In [2]:
print("hello world")

hello world

Python Reserved Keywords
========================

and          as       assert
break       class     continue
def          del       elif
else        except     False
finally      for        from
global       if        import
in           is        lambda
None        nonlocal    not
or           pass       raise
return      True        try
while       with        yield

Python Variables
----------------

A Python variable is created automatically when you assign a value to it. The equal sign (=) is used to assign values to variables.

In [3]:
counter = 100
miles =50.30
name ="Sultan"

In [4]:
print(counter)
print(miles)
print(name)

100
50.3
Sultan

Delete a Variable
-----------------

del var

In [5]:
del counter

In [6]:
print(counter)

NameError: name 'counter' is not defined

Multiple Assignment
-------------------

In [8]:
a =b = c= 100.40
print(a)
print(b)
print(c)

100.4
100.4
100.4

In [9]:
a , b, c = 1,2.8, "Abhishek"
print(a)
print(b)
print(c)

1
2.8
Abhishek

Python - Data Types
--------------------

-> Numeric - int, float, complex

->  String - str

-> Sequence - list, tuple, range

-> Binary - bytes, bytearray, memoryview

-> Mapping - dict

-> Boolean - bool

-> Set - set, frozenset

-> None - NoneType

Numeric Data Type
=================

In [10]:
# integer variable.
a=100
print("The type of variable having value", a, " is ", type(a))

# float variable.
b=20.345
print("The type of variable having value", b, " is ", type(b))

# complex variable.
c=10+3j
print("The type of variable having value", c, " is ", type(c))

The type of variable having value 100  is  <class 'int'>
The type of variable having value 20.345  is  <class 'float'>
The type of variable having value (10+3j)  is  <class 'complex'>

String Data Type
---------------

In [11]:
str = 'Hello World!'

In [13]:
print(str) # Prints complete string
print(str[0])  # Prints first character of the string

Hello World!
H

In [14]:
print(str[2:5]) # Prints characters starting from 3rd to 5th

llo

In [15]:
print(str[2:]) # Prints string starting from 3rd character

llo World!

In [17]:
print(str * 2) # Prints string two times

Hello World!Hello World!

In [18]:
print(str + " " + 'Test') # Prints concatenated string

Hello World! Test

List Data Type
--------------

In [19]:
list =['abcd' , 123, 2.45, 'john']
tinylist =[1234, 'abhishek']

print(list) # Prints complete list
print(list[0])  # Prints first element of the list
print(list[1:3]) # Prints from 2nd to 3rd elements
print(tinylist *2) # prints tinylist 2 times

['abcd', 123, 2.45, 'john']
abcd
[123, 2.45]
[1234, 'abhishek', 1234, 'abhishek']

Tuple Data Type
---------------

The main differences between lists and tuples are: Lists are enclosed in brackets ( [ ] ) and their elements and size can be changed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated. Tuples can be thought of as read-only lists.

In [24]:
tuple =('abcd', 245, 2.56, 'john', 5+4j)

print(tuple) # print entire tuple
print(tuple[1]) #print only second element
print(tuple[1:4]) # print from 2nd to 4th elemnts

('abcd', 245, 2.56, 'john', (5+4j))
245
(245, 2.56, 'john')

Python Ranges
-------------

Python range() is an in-built function in Python which returns a sequence of numbers starting from 0 and increments to 1 until it reaches a specified number.

range(start, stop, step)

start: Integer number to specify starting position, (Its optional, Default: 0)

stop: Integer number to specify starting position (It's mandatory)

step: Integer number to specify increment, (Its optional, Default: 1)

In [25]:
for i in range(10) :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [27]:
for i in range(1,10,2) :        #print numbers from 1 to 10 with increment of 2 
    print(i)

1
3
5
7
9

Python Dictionary
------------------

Python dictionaries are kind of hash table type.

Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([]).

In [31]:
dict = { }
dict['one'] ="This is One"
dict[2] = "This is Two"

print(dict[2])
print(dict)

This is Two
{'one': 'This is One', 2: 'This is Two'}

Python Boolean Data Types
-------------------------

In [32]:
a= True
print(a)
print(type(a))

True
<class 'bool'>

Data Type Conversion
===================

Conversion to Int
-------------------

In [37]:
a= int(2.3)
print(a)

b = float("3.5")
print(b)

2
3.5